.ag-theme-alpine {
  --ag-borders: none;
  --ag-header-background-color: none;
  --ag-odd-row-background-color: none;
}

.cart-container {
  display: flex;
  /* padding: 4% 0; */
}
.cart-left {
  width: 65%;
  padding: 4% 0 5% 7%;
}
.cart-right {
  width: 35%;
  padding: 4% 10% 5% 1%;
  background-color: #c1c1c1;
  border-left: 1px solid #ccc;
}
.q-container {
  border: 1px solid #ccc;
  font-size: 18px;
  display: flex;
  height: 40px;
  width: 100px;
  align-items: center;
}
.q__niput {
  width: 40%;
  border: none;
  user-select: unset;
  font-size: 14px;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-inner-spin-button: none;
  -webkit-outer-spin-button: none;
  outline: none;
}

.q-inc__btn {
  width: 30%;
  border: none;
  background-color: white;
  color: #ccc;
}
.gjirafa-flex {
  font-size: 11px;
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
  display: flex;
}
.product-discount___price {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0px 0 20px 0;
  /* display: flex; */
  /* flex-direction: column; */
}
.product-discount___price span {
  display: flex;
  justify-content: space-between;
}
.product-discount___price span:first-child {
  margin-bottom: 5px;
}
.product-discount___price p {
  margin: 0;
}
.form-group {
  margin: 20px 0;
}
.gift__input {
  height: 32px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
}
.gift-cart__btn {
  background: #e45227;
  color: #fff;
  border-color: #e45227;
  top: 0;
  right: 0;
  height: 32px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sub-prices {
  border-bottom: 1px solid #c1c1c1;
}
.sub-prices span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-prices span:first-child p {
  color: #a0a0a0;
}
.sub-prices span:last-child p {
  color: #e74c3c;
}
.price {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price p:first-child {
  color: #a0a0a0;
}
.price p:first-child {
  color: #000;
}
.pay-btn {
  background: #d7461b;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  border: none;
}
